*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar{
    color: white;
    display: flex;
    justify-content: end;
    list-style-type: none;
    box-shadow: none;
    margin-bottom: 0%;
    margin-top: 0;
    margin-right: 5%;
    padding: 10px;
    border-style: none;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0 10px;
    background-color: rgba(242, 116, 5, 1);
    padding: 5%;
    border-radius: 10%;
    font-family: 'Ghoulish', sans-serif;
    
}
.logo-titles{
    width: 100px;
    margin-right: 70%;
    position: relative;
    
 
 }
.navbar li a:hover{
background-color: white;
}
.rules{
    margin-right:3%;
}
.picture-background{
    background-image: url(https://media.discordapp.net/attachments/1154069571649667133/1156528901447753738/Capture_decran_2023-09-27_a_11.52.22.png?ex=6515f5b9&is=6514a439&hm=60dd1c899c921ebee69b14c227f320355b07ba9118a9698e730fc6cbebe1ea44&=&width=1438&height=534);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 30em;;
    border-style: none;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
  }

.picture-click img{
    height:25em;
    margin-top: 20px;
    padding: 150px;
  }

.top-body{
    color: white;
}
.first-counter p{
    background-color: rgba(0, 0, 0, 0.165);
    border-radius: 15px;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.second-counter{
    background-color: rgba(0, 0, 0, 0.165);
    padding: 20px;
    border-radius: 15px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
  body{
    background-color: #0B090A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

main {
    display: flex;
    justify-content: center;

}
.shop {
    width : 90%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}
#shop_title {
    width: 100%;
    height: 60px;
    display: flex;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
    background-color: #111c26;
    border-radius: 10px;
}

#shop_title p {
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-weight: bold;
}

#shop_boosters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vh 0 1vh 0;
}

.shop_item {
    width : 49%;
    height: 60px;
    display: flex;
    align-content: center;
    background-color: #111c26;
    border-radius: 10px;
    box-shadow: 5px 5px 18px 5px #0b0b0b;
    margin-bottom: 10px;
}
.shop_item_content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.shop_img {
    width: 50px;
}

.booster_name {
    width : 25%;
    display: flex;
    justify-content: flex-start;
    gap:5px;
    align-items: center;
    color: #f0f0f0;
    font-size: clamp(1rem, 1.5vw, 1.4rem);
    font-weight: bold;
}


.price {
    width : 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price p {
    padding-right : 5px;
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
    color: #f27405;
    font-weight: bold;
    }

.click_booster{
    width : 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f0f0f0;
    gap: 5px;
}

p.click_booster_copy{
    font-size: 0.8em;
}

.click_booster_number{
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
    padding-left: 10px;
    color: #f29f05;
    font-weight: bold;
}

.price_icon {
    width: 35px;
}

.level {
    width : 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p.level_text{
    color: #f0f0f0;
}

p.level_number{
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: #df4904;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .shop {
        width: 95%;
    }}

@media (max-width: 1000px) {
    .shop {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 80%;
    }
    .shop_item {
        width : 100%;
    }
}


@media (max-width: 730px) {
    .shop {
        width : 100%;
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
    .shop_item {
        width : 100%;
    }
}


.footer {

    width: 100%;
    border-left: 8px;
    border-right: 8px;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: space-between;
    background-color: #111c26;
    color: white;
    height: 25px;
    margin-top: auto;

}

.footer a {

    text-decoration: none;
    color: white;

}

.footer .society {

    width: 33%;
    text-align: center;

}

.social {

    width: 33%;
    padding-left: 8px;
    display: flex;
    justify-content: start;
    padding-left: 8px;
}

.footer .logo {

    width: 33%;
    padding-right: 8px;
    display: flex;
    justify-content: end;

}

.social img {

    padding-right: 4px;
    padding-left: 8px;

}

.discord{

    display: flex;
    align-content: center;

}

.twitter{

    display: flex;
    align-content: center;
}

.tumblr{

    display: flex;
    align-content: center;  
}
