html * {
    margin: 0;
    padding: 0;
    width: 100%;

}

.footer {

    width: 100%;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111c26;
    color: white;
    height: 30px;


}

.footer a {

    text-decoration: none;
    color: white;

}

.footer .society {

    width: 33vw;
    text-align: center;

}

.social {

    width: 33vw;
    padding-left: 8px;
    display: flex;
    justify-content: start;
}

.footer .logo {

    width: 33vw;
    padding-right: 8px;
    display: flex;
    justify-content: end;

}

.footer .logo .logoImage {

    width: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    
}

.social img {

    width: 20px;
    height: 20px;
    padding-right: 4px;

}

.discord, .twitter, .tumblr{

    display: flex;
    align-content: center;
}

.society img{

    width: 20px;
    height: 20px;
    padding-right: 4px;
    
}